html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#mount,
.dragins {
    height: 100%;
}

.dragins {
    position: relative;
    padding: 0 0.5em;
}

h4 {
    margin: 0 0 0.2em;
}

p {
    display: none;
    margin: 0.2em 0 0;
}

.list,
.menu {
    padding: 1em 0.5em;
    height: 100%;
}

.below:after {
    content: "";
    position: absolute;
    top: 1em;
    width: 100%;
    height: 3px;
    background: red;
}



.tabs {
    height: 100%;
    padding: 0;
    margin: 0;
    border: solid 1px #eee;
    list-style: none;
}
.tab {
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
    margin: 0.5em;
    padding: 0.5em;
    background: #eee;
}
.tab.tab-active {
    background: #ccc;
}

.dragging {
    position: absolute;
    display: none;
}
.dragging.dragging-active {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
    display: block;
    opacity: 0.4;
}
.dragging p {
    display: block;
}